/* Color principal de la app */

:root {
  --ion-color-primary: #eb445a;
  --ion-color-primary-rgb: 235, 68, 90;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #cf3c4f;
  --ion-color-primary-tint: #ed576b;
}
