<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Canem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h2 class="ion-text-center">Inicia sesión</h2>

  <form (ngSubmit)="ingresar()" #loginForm="ngForm">
    <ion-item lines="round" class="ion-margin-bottom">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre" required minlength="3"></ion-input>
    </ion-item>

    <ion-item lines="round" class="ion-margin-bottom">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <p *ngIf="errorLogin" class="mensaje-error">{{ errorLogin }}</p>

    <ion-button expand="block" type="submit" color="primary" class="ion-margin-top" [disabled]="loginForm.invalid">
      Iniciar sesión
    </ion-button>
  </form>

</ion-content>
